<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand" href="#">Gene Deliver</a>

    <div class="row">

      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active">My Profile</a>
        </li>

        <li (click)="logout()"  class="nav-item" style="cursor: pointer">
          <a class="nav-link active">Logout</a>
        </li>

      </ul>

    </div>

  </div>

</nav>


